/*login*/
.login-container {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  background: #fff;
  height: 100%;
  width: 100%;
}

.login-container .form-wrapper {
  width: 300px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  text-align: center;


}
.form-wrapper .login-title{
  padding: 12px 0;
}
